@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-template-area-styles {
    grid-template-areas: 'img text-image text-image text-image' 'img media-buttons buttons action-buttons';
    display: grid;
    justify-items: center;
    grid-template-columns: 11% 28% 31% 28%;
  }
}

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
  }

  html {
    height: 100%;
  }

  #root {
    height: 100%;
  }

  body {
    box-sizing: border-box;
    height: 100%;
  }

  textarea {
    scrollbar-width: thin;
    scrollbar-color: rgba(21, 32, 43, 1) rgb(66, 83, 100);
  }

  textarea:focus,
  textarea:focus-visible {
    outline: none;
  }

  textarea::-webkit-scrollbar {
    width: 0.5rem;
  }

  textarea::-webkit-scrollbar-track {
    background-color: transparent;
  }

  textarea::-webkit-scrollbar-thumb {
    border-radius: 6px;
    @apply border-solid border-4 border-gray-300;
  }
}
