@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-template-area-styles {
    grid-template-areas: 'img textarea textarea textarea' 'img media-buttons buttons action-buttons';
    display: grid;
    justify-items: center;
    grid-template-columns: 11% 28% 31% 28%;
  }
}

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
  }

  html {
    height: 100%;
  }

  #root {
    height: 100%;
  }

  body {
    box-sizing: border-box;
    height: 100%;
  }

  textarea:focus,
  textarea:focus-visible,
  span:focus,
  span:focus-visible {
    outline: none;
  }

  [contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    opacity: 0.5;
  }
}
